
.navbar img {
  height: 100px;
  width: 100px;
}

.navbar {
  display: flex;
  /*flex-direction: row;*/
  color: #3d3c3c;
  letter-spacing:2px;
}

.navbar > div {
  margin: 10px;
}

.navbar > div:last-child {  
  margin-left: auto;
  margin-right: 20px;
}

.navbar ul li {
  list-style-type: none;
  float: left;
  margin: 5px;      
}

.navbar ul li a {
  text-decoration: none;
  color: #3d3c3c;
  letter-spacing: 2px;
  padding: 5px;    
  transition: all 0.5s ease;
}

.in {
  background: #1a6ece;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.navbar ul > li:last-child > a {  
  color: #1a6ece;
  padding: 5px;
  font-weight: 600; 
  box-shadow: 0 0 0 1px;
  transition: all 0.5s ease;
}

.navbar ul > li:last-child > a:hover {  
  background-color: #ddf1f8;    
  box-shadow: 0 0 0 2px;
}

.navbar ul li a:hover {  
  color: #1a6ece;
}

.svg img {
  width: 70%;
  position: absolute;
  left: 0px;  
}

.cta_txt  {
  position: absolute;
  right: 50px;
  font-size: 40px;
  z-index: 1;
  font-weight: 800;
  width: 300px;
  color: #696767;  
}

.cta_btn  {
  position: absolute;
  right: 100px;
  transform: translateY(150px);
  height: 60px;
  width: 120px;
  border: 1px solid #1a6ece;
  z-index: 1;  
  display: table-cell;
  text-align: center;
  color: #fff;
  background: #1a6ece;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.cta_btn div {
  margin-top: 15px;
}

@media (max-width: 600px) {
  .svg img {
    width: 450px;
    height: auto;    
    position: relative;
    left: 10px;  
    top: 10px;
  }
  
  .svg {
    display: block;    
    margin-top: 20px; 
  }

  .cta_txt  {
    position: relative;
    left: 20px;  
    margin-bottom: 20px;  
  }
  
  .cta_btn  {
    position: relative;
    left: 20px;
    transform: translateY(0px);    
  }
  
  .cta_btn div {
    margin-top: 15px;
  } 

  .navbar ul {
    display: none;
  }

  .navbar > div:nth-child(2)  {
    padding-right: 20px;
  }
}