body{
  overflow-x: hidden;
}

:root {
  --mwd: 425px;
}
.navbar img {
  height: 100px;
  width: 100px;
}

.navbar {
  display: flex;
  /*flex-direction: row;*/
  color: #3d3c3c;
  letter-spacing:2px;
}

.navbar > div {
  margin: 10px;
}

.navbar > div:last-child {  
  margin-left: auto;
  margin-right: 20px;
}

.navbar ul li {
  list-style-type: none;
  float: left;
  margin: 5px;      
}

.navbar ul li a {
  text-decoration: none;
  color: #3d3c3c;
  letter-spacing: 2px;
  padding: 5px;    
  transition: all 0.5s ease;
}

.in {
  background: #1a6ece;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.navbar ul > li:last-child > a {  
  color: #1a6ece;
  padding: 5px;
  font-weight: 600; 
  box-shadow: 0 0 0 1px;
  transition: all 0.5s ease;
}

.navbar ul > li:last-child > a:hover {  
  background-color: #ddf1f8;    
  box-shadow: 0 0 0 2px;
}

.navbar ul li a:hover {  
  color: #1a6ece;
}

#book {
  width: 100vw;
  height: 100vh;
}

.svg img {
  width: 80%;  
}

.svg {
  position: relative;
  left: -10%;  
  opacity: 0;
  transform: translateY(30%);
  transition: all 1s ease;
  display: block;
/*  background: khaki;*/
  width: fit-content;
  height: fit-content;
}

.animate_in {
  left: 0;  
  opacity: 1;
}

.cta_cont {
  height: fit-content;
  width: fit-content;
  /*background: khaki;*/
  position: absolute;
  right: 10%;
  transform: translateY(20px);
  opacity: 0;
  transition: all 1s ease;
}

.cta_animate_in {
  transform: translateY(0px);
  opacity: 1;
}

.cta_txt  {
  /*position: absolute;*/
  right: 10px;
  font-size: 40px;
  z-index: 1;
  font-weight: 800;
  width: 300px;
  color: #696767;  
}

.cta_btn  {
  position: relative;
  /*right: 130px;*/
  transform: translateX(100%);
  height: 60px;
  width: 120px;
  border: 1px solid #1a6ece;
  z-index: 1;  
  display: table-cell;
  text-align: center;
  color: #fff;
  background: #1a6ece;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.cta_btn div {
  margin-top: 15px;
}

.abt_sec  {
  /*position: relative;*/
  margin-top: 50px;
  background: #fffbec;
  overflow: hidden;
  height: 330px;
  width: 100vw;
  min-width: var(--mwd); 
}

.abt_sec img {
  display: block;
  margin-left: auto;
  border-radius: 50%;
  /*transform: translateX(100px);*/  
  width: 400px;
  height: 100%;   
  float: right;
}

.abt_art  {
  /*position: absolute;*/
  /*background-color: khaki;*/
  display: block;    
  margin: 10px auto 10px 0;
  width: 550px;
  height: 100%;  
}

.abt_qstn {
  font-weight: bold;
  font-size: 25px;
  color:#1a6ece;
  margin: 0 auto 0 auto;
  display: block;
  width: fit-content;
}

.abt_ans  {
  display: block;
  width: 500px;
  margin: 20px auto 0 auto;
  font-size: 22px;
  font-weight: 600;
  color: gray;
  text-align: justify;
  /*background-color: lightblue;*/
}

.store_sec  {  
  width: 100%;
  height: 350px;
  display: block;
  position: relative;  
  overflow-x: auto;
  overflow-y: hidden;
  /*overflow-x: auto;  */
  padding-bottom: 40px;
  margin-top: 50px;
  /*background-color: khaki;*/
}

.store_sec > img {
  /*width: 400px;*/
  height: inherit;
  transform: translateX(-80px);  
  /*left: -80px;*/
  display: inline-block;
  border-radius: 30%;
  border-right: 10px groove #1a6ece;
  /*border-right-style: groove;*/
}

.prd {
  display: inline-block;
  width: auto;
  height: inherit;
  /*background: khaki;*/
  /*overflow-x: auto;*/  
  /*transform: translateX(-80px); */
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 20px;
  /*background-color: khaki;*/
  /*white-space: nowrap;*/
}

.prdcrd {
  width: 200px;
  height: 90%;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2), 0 0 20px rgba(0,0,0,0.2) ;
  padding: 5px;
  display: block;
  float: left;
  margin-right: 40px;
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
  /*white-space: normal;*/
}

.prdcrd > img  {
  height: 180px;
  width: 150px;  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prdcrd > .title {
  font-size: 15px;
  display: block;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}

.prdcrd > p {
  font-size: 15px;  
}

.slprc {
  display: inline-block;
  text-decoration: line-through;
  color:gray;
}

.orgprc {
  display: inline-block;  
  color:black;
  margin-right: 10px;
  margin-left: 20px;
}

.prdcrd > button {
  width: 90%;
  height: 40px;
  position: absolute;
  display: block;
  bottom: 20px;
  left: 12px;
  outline: none;
  background: #f5623d;
  border: sienna;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.prdcrd > button:hover {
  cursor: pointer;
}

.team_cont  {
  height: 550px;
  width: 100vw;
  margin-top: 50px;
  display: block;
  position: relative;
  background: linear-gradient(to bottom,#c0fcedef, white);
  padding-top: 1px;
  align-items: center;
  justify-content: center;
}

.team_cont h2 {
  text-align: center;
  color: #1a6ece;
}

.team_content {
  margin: 0 auto;
  width: fit-content;
}

.prsncrd  {
  display: block;
  float: left;
  margin: 30px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2), 0 0 10px rgba(0,0,0,0.2) ;
  /*background-color: pink;*/
}

.prsncrd img {
  height: 280px;
  width: 215px;
  /*border-radius: 5px;*/
}

.prsncrd .name  {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.prsncrd .task  {
  margin-top: 1px;
  font-size: 14px;
}

.prsncrd .img_brdr  {
  border-top: 1px solid #696767;
  border-left: 1px solid #696767;
  border-right: 1px solid #696767;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.prsncrd .txt_brdr  {
  border-bottom: 1px solid #696767;
  border-left: 1px solid #696767;
  border-right: 1px solid #696767;
  padding-bottom: 50px;
}

.txt_brdr_main {
  border-bottom: 1px solid #2af010;
  border-left: 1px solid #2af010;
  border-right: 1px solid #2af010;
  padding-bottom: 50px;
}

.prsncrd .fa  {
  margin: 5px;
  font-size: 20px;
}

.prsncrd .fa:hover  {
  color:  #1a6ece;
  cursor: pointer;
}

footer {
  margin-top: 50px;
  height: 300px;
  width: 100vw;
  display: block;
  background: #fcf9f6;  
}

footer > h3 {
  letter-spacing: 2px;
  color: #696767; 
  display: block;
  border-right: 1px solid #d8d5d5;
  padding: 10px;
  padding-top: 20px;
  height: 90%;
  width: 200px;
  float: left;  
  margin-top: 1px;
}

footer > ul {
  display: block;
  float: left;
  height: 90%;
  width: 250px;
  margin-top: 1px;
  padding: 10px;
  padding-top: 20px;
  border-right: 1px solid #d8d5d5;
  list-style-type: none;
}

footer > ul > h3  {
  margin-top: 1px;
  color: #474646;
  letter-spacing: 2px;
  margin-left: 50px;
}

footer > ul > li > a  {
  text-decoration: none;
  color:#696767;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}

footer > ul > p {
  color:#696767;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-left: 20px;
}

footer > ul > li > a:hover  {
  text-decoration: underline;
}

footer > ul > li  {
  margin: 3px 0 0 50px;
}

footer .map  {
  height: 100%;
  width: 480px;
  /*background: red;*/
  display: block;
  float: left;
  margin-left: 10px;
}

.sup_footer  {
  display: block;
  width: 100vw;
  height: 60px;
  background-color: #f3f1f0;  
  padding: 5px;  
  position: relative;
}

.sup_footer p
{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  width: fit-content;
  display: block;  
  position: absolute;
  top: 0px;
  left: 10px;
}

.dcredit  {
  display: block;
  width: fit-content;
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
}

@media (max-width: 600px) {
  .svg img {    
    height: auto;    
    min-width: 425px;
    width: 100%;
    position: relative;
    left: 10px;  
    top: 10px;
  }
  
  .svg {
    display: block;    
    margin-top: 20px; 
  }

  .cta_txt  {
    position: relative;
    left: 20px;  
    margin-bottom: 20px;  
  }
  
  .cta_btn  {
    position: relative;
    left: 20px;
    transform: translateY(0px);    
  }
  
  .cta_btn div {
    margin-top: 15px;
  } 

  .navbar ul {
    display: none;
  }

  .navbar > div:nth-child(2)  {
    padding-right: 20px;
  }
}