body{
  overflow-x: hidden;
}

:root {
  --mwd: 425px;
}
.navbar img {
  height: 100px;
  width: 100px;
}

.navbar {
  display: flex;
  /*flex-direction: row;*/
  color: #3d3c3c;
  letter-spacing:2px;
}

.navbar > div {
  margin: 10px;
}

.navbar > div:last-child {  
  margin-left: auto;
  margin-right: 20px;
}

.navbar ul li {
  list-style-type: none;
  float: left;
  margin: 5px;      
}

.navbar ul li a {
  text-decoration: none;
  color: #3d3c3c;
  letter-spacing: 2px;
  padding: 5px;    
  transition: all 0.5s ease;
}

.in {
  background: #1a6ece;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.navbar ul > li:last-child > a {  
  color: #1a6ece;
  padding: 5px;
  font-weight: 600; 
  box-shadow: 0 0 0 1px;
  transition: all 0.5s ease;
}

.navbar ul > li:last-child > a:hover {  
  background-color: #ddf1f8;    
  box-shadow: 0 0 0 2px;
}

.navbar ul li a:hover {  
  color: #1a6ece;
}

.svg img {
  width: 70%;
  position: relative;
  left: 0px;  
}

.cta_txt  {
  position: absolute;
  right: 50px;
  font-size: 40px;
  z-index: 1;
  font-weight: 800;
  width: 300px;
  color: #696767;  
}

.cta_btn  {
  position: absolute;
  right: 100px;
  transform: translateY(150px);
  height: 60px;
  width: 120px;
  border: 1px solid #1a6ece;
  z-index: 1;  
  display: table-cell;
  text-align: center;
  color: #fff;
  background: #1a6ece;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.cta_btn div {
  margin-top: 15px;
}

.abt_sec  {
  /*position: relative;*/
  margin-top: 50px;
  background: #fffbec;
  overflow: hidden;
  height: 330px;
  width: 100vw;
  min-width: var(--mwd); 
}

.abt_sec img {
  display: block;
  margin-left: auto;
  border-radius: 50%;
  /*transform: translateX(100px);*/
  /*margin-top: 20px;*/
  width: 400px;
  height: 100%;   
  float: right;
}

.abt_art  {
  /*position: absolute;*/
  /*background-color: khaki;*/
  display: block;    
  margin: 10px auto 10px 0;
  width: 550px;
  height: 100%;
}

.abt_qstn {
  font-weight: bold;
  font-size: 30px;
  color:#1a6ece;
}

.abt_ans  {
  display: block;
  width: 500px;
  margin: 20px auto 0 auto;
  font-size: 25px;
  font-weight: 600;
  color: gray;
  text-align: justify;
  /*background-color: lightblue;*/
}

.store_sec  {
  top: 50px;
  width: 100%;
  height: 350px;
  display: block;
  position: relative;  
  overflow-x: auto;
  overflow-y: hidden;
  /*overflow-x: auto;  */
  padding-bottom: 40px;
  /*background-color: khaki;*/
}

.store_sec > img {
  /*width: 400px;*/
  height: inherit;
  transform: translateX(-80px);  
  /*left: -80px;*/
  display: inline-block;
  border-radius: 30%;
  border-right: 10px groove #1a6ece;
  /*border-right-style: groove;*/
}

.prd {
  display: inline-block;
  width: auto;
  height: inherit;
  /*background: khaki;*/
  /*overflow-x: auto;*/  
  /*transform: translateX(-80px); */
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 20px;
  /*background-color: khaki;*/
  /*white-space: nowrap;*/
}

.prdcrd {
  width: 200px;
  height: 90%;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2), 0 0 20px rgba(0,0,0,0.2) ;
  padding: 5px;
  display: block;
  float: left;
  margin-right: 40px;
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
  /*white-space: normal;*/
}

.prdcrd > img  {
  height: 180px;
  width: 150px;  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prdcrd > .title {
  font-size: 15px;
  display: block;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}

.prdcrd > p {
  font-size: 15px;  
}

.slprc {
  display: inline-block;
  text-decoration: line-through;
  color:gray;
}

.orgprc {
  display: inline-block;  
  color:black;
  margin-right: 10px;
  margin-left: 20px;
}

.prdcrd > button {
  width: 90%;
  height: 40px;
  position: absolute;
  display: block;
  bottom: 20px;
  left: 12px;
  outline: none;
  background: #f5623d;
  border: sienna;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.prdcrd > button:hover {
  cursor: pointer;
}


@media (max-width: 600px) {
  .svg img {    
    height: auto;    
    min-width: 425px;
    width: 100%;
    position: relative;
    left: 10px;  
    top: 10px;
  }
  
  .svg {
    display: block;    
    margin-top: 20px; 
  }

  .cta_txt  {
    position: relative;
    left: 20px;  
    margin-bottom: 20px;  
  }
  
  .cta_btn  {
    position: relative;
    left: 20px;
    transform: translateY(0px);    
  }
  
  .cta_btn div {
    margin-top: 15px;
  } 

  .navbar ul {
    display: none;
  }

  .navbar > div:nth-child(2)  {
    padding-right: 20px;
  }
}